.telaAutenticacao {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  background-color: rgb(99, 84, 114);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease-out;
  gap: 15px;
}

.telaAutenticFora {
  transform: translateX(-150vw);
}

.areaLogin {
  padding: 20px;
  box-shadow: 5px 5px 10px gray;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  z-index: 2;
}

.formAutent {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  gap: 20px;
}

.formAutent select {
  width: 90%;
  padding: 10px;
}

.formAutent input {
  width: 90%;
  padding: 10px;
}

.formAutent button {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px gray;
  text-align: center;
}

/** Trabalhando com dados do formulario autenticação para gerar animações  ***/

.areaComFotoUsuarioSelect {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fluxoElementos {
  width: 130%;
  height: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
}

.elementosFlutuados {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-100%);
  left: 0;
  animation: translocandoEsquerdaFlutuando 10s linear infinite alternate;
  background-image: linear-gradient(-45deg, white 0%, rgba(0, 0, 0, 0) 100%);
}

.elementosFlutuados:nth-of-type(1) {
  background-color: green;
}

.elementosFlutuados:nth-of-type(2) {
  background-color: orangered;
}

.elementosFlutuados:nth-of-type(3) {
  background-color: blueviolet;
}

.elementosFlutuados:nth-of-type(4) {
  background-color: yellow;
}

.elementosFlutuados:nth-of-type(5) {
  background-color: rgb(0, 144, 205);
}

.elementosFlutuados:nth-of-type(6) {
  background-color: rgb(38, 207, 38);
}

@keyframes flutuandoBotao {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

@keyframes translocandoEsquerdaFlutuando {
  0% {
    left: 0;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

.fotoUsuarioParaLogin {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 3;
  box-shadow: 0px 0px 20px green inset;
  overflow: hidden;
}

.fotoMarcosUsuarioLogin {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/marcos.png");
}

.fotoUeneUsuarioLogin {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/uene.png");
}

.fotoLeoUsuarioLogin {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/leo.png");
}

.fotoJoaoUsuarioLogin {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/joao.png");
}

.fotoAdmnistradoresLogin {
  width: 100%;
  height: 100%;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
